.imagen{
	width: 500px;
	height: 170px;
}
.boton{
	padding-top: : 200px;
}
.imagen_juego{
	border-radius: 10px;
	border:1px solid gray;
	margin-bottom: 20px;
	transition: 0.5s;
}
.imagen_juego:hover{
	transform: scale(1.1);
}